div{
    width:100px;
    height: 100px;
    background-color: darkcyan;
}
#rotate{
    transform: rotate(60deg);
}
#skew{
    transform: skew(30deg);
}
#translate{
    transform: translate(120px, 20px);
}
#change{
    background-color: crimson;
    color: white;
    transition: background-color 3s;
}
#change:hover{
    cursor: pointer;
    background-image: radial-gradient(blue,red);
    transform: rotate(120deg);
}
p{
    width:200px;
    height:200px;
    background-image: linear-gradient(to left,yellow, red);
    animation-name: code;
    animation-duration: 4s;
    animation-delay: 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes code{
   from{ height: 200px;}
    to{ height:400px}
}
#gradient{
    width:500px;
    height: 200px;
    background-image: linear-gradient(to right bottom,blue,yellow, red);
}
.radial{
    width:500px;
    height: 200px;
    background-image: radial-gradient(yellow, violet, blue);
}