body{
    margin: 20px;
}
#header{
background-image: url('../images/hero.jpg');
height: 60vh;
background-size: cover;
color: antiquewhite;
}
.overlay{
    width: auto;
    height:60vh;
    background-color: black;
    opacity: 0.7;
    z-index:-4;
}
#div-flex{
    display: flex;
}
#div-flex>img{
    align-items: flex-start;
    margin: 10px;
    padding: 20px;
    z-index: 1;
}
#nav-bar
{
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    z-index:2;
}
#nav-bar>a{
    margin: 10px;
    padding:10px;
    color:antiquewhite;
}
.display-3{
    margin: 10px;
    z-index: 4;
}
.section-head{
    color: rgb(19, 114, 222);
}
.img-contain{
    display: flex;
    height: 40vh;
    width: 100vw;
}
.thumbnail{
    width: 18%;
    background-size: cover;
}
.thumbnail p{
    color:antiquewhite;
    text-align: center;
}
.thumbnail:nth-child(1){ background-image: url('../images/Gym\ Pool.jpg');}
.thumbnail:nth-child(2){ background-image: url('../images/Carnival.jpg');}
.thumbnail:nth-child(3){ background-image: url('../images/Cooking\ with\ chef.jpg');}
.thumbnail:nth-child(4){ background-image: url('../images/Candlelight\ Dinner.jpg');}
.thumbnail:nth-child(5){ background-image: url('../images/Lazy\ River.jpg');}

.row{
    height: 40vh;
    width: 80vw;
    column-gap: 20px;
}
.row .col{
    padding: 20px;
}